@charset "utf-8";

@font-face {
        font-family: "TestFont";
        src: url("../fonts/tomoe.woff2") format("woff2"), url("../fonts/tomoe.woff") format("woff");
}
body {
    font-family: "TestFont", sans-serif!important;
}